/nbproject
/vendor
.phpunit.result.cache
composer.lock
php-cs-fixer-v2.phar
.idea/*
php-cs-fixer.phar
clover.xml
tests/webfiori/tests/mail/Hello Email Message/*
.php_cs.cache
*.Identifier
config/accounts.php
/tests/.phpunit.cache
tests/oauth/providers.php
tests/oauth/tokens/
