<?xml version="1.0" encoding="UTF-8"?>
<phpunit stderr="true" colors="true" bootstrap="bootstrap.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>../WebFiori/Mail/Email.php</file>
            <file>../WebFiori/Mail/SMTPAccount.php</file>
            <file>../WebFiori/Mail/SMTPServer.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Tests">
            <directory>./WebFiori/Tests/Mail</directory>
        </testsuite>
    </testsuites>
</phpunit>